<a href="https://colab.research.google.com/github/dpnshu3/Complete-Python-3-Bootcamp/blob/master/Copy_of_Copy_of_Parkinsons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports

#Load Dataset
Ref: https://discuss.analyticsvidhya.com/t/loading-arff-type-files-in-python/27419

In [ ]:
from scipy.io import arff
import pandas as pd 
import numpy as np
dataset = arff.loadarff('./Dataset/php4ylQmK.arff')[0]
df = pd.DataFrame(dataset)
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V14,V15,V16,V17,V18,V19,V20,V21,V22,Class
0,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,0.426,...,0.06545,0.02211,21.033,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654,b'2'
1,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,0.626,...,0.09403,0.01929,19.085,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674,b'2'
2,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,0.482,...,0.08270,0.01309,20.651,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634,b'2'
3,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,0.517,...,0.08771,0.01353,20.644,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975,b'2'
4,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,0.584,...,0.10470,0.01767,19.649,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335,b'2'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,174.188,230.978,94.261,0.00459,0.00003,0.00263,0.00259,0.00790,0.04087,0.405,...,0.07008,0.02764,19.517,0.448439,0.657899,-6.538586,0.121952,2.657476,0.133050,b'1'
191,209.516,253.017,89.488,0.00564,0.00003,0.00331,0.00292,0.00994,0.02751,0.263,...,0.04812,0.01810,19.147,0.431674,0.683244,-6.195325,0.129303,2.784312,0.168895,b'1'
192,174.688,240.005,74.287,0.01360,0.00008,0.00624,0.00564,0.01873,0.02308,0.256,...,0.03804,0.10715,17.883,0.407567,0.655683,-6.787197,0.158453,2.679772,0.131728,b'1'
193,198.764,396.961,74.904,0.00740,0.00004,0.00370,0.00390,0.01109,0.02296,0.241,...,0.03794,0.07223,19.020,0.451221,0.643956,-6.744577,0.207454,2.138608,0.123306,b'1'
194,214.289,260.277,77.973,0.00567,0.00003,0.00295,0.00317,0.00885,0.01884,0.190,...,0.03078,0.04398,21.209,0.462803,0.664357,-5.724056,0.190667,2.555477,0.148569,b'1'

## As you can see above the values in `Class` are string so we need to convert them to integer

In [ ]:
cl = []
for c in df['Class']:
  cl.append(int(c))
df['Class'] = cl

In [ ]:
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V14,V15,V16,V17,V18,V19,V20,V21,V22,Class
0,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,0.426,...,0.06545,0.02211,21.033,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654,2
1,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,0.626,...,0.09403,0.01929,19.085,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674,2
2,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,0.482,...,0.08270,0.01309,20.651,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634,2
3,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,0.517,...,0.08771,0.01353,20.644,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975,2
4,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,0.584,...,0.10470,0.01767,19.649,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,174.188,230.978,94.261,0.00459,0.00003,0.00263,0.00259,0.00790,0.04087,0.405,...,0.07008,0.02764,19.517,0.448439,0.657899,-6.538586,0.121952,2.657476,0.133050,1
191,209.516,253.017,89.488,0.00564,0.00003,0.00331,0.00292,0.00994,0.02751,0.263,...,0.04812,0.01810,19.147,0.431674,0.683244,-6.195325,0.129303,2.784312,0.168895,1
192,174.688,240.005,74.287,0.01360,0.00008,0.00624,0.00564,0.01873,0.02308,0.256,...,0.03804,0.10715,17.883,0.407567,0.655683,-6.787197,0.158453,2.679772,0.131728,1
193,198.764,396.961,74.904,0.00740,0.00004,0.00370,0.00390,0.01109,0.02296,0.241,...,0.03794,0.07223,19.020,0.451221,0.643956,-6.744577,0.207454,2.138608,0.123306,1
194,214.289,260.277,77.973,0.00567,0.00003,0.00295,0.00317,0.00885,0.01884,0.190,...,0.03078,0.04398,21.209,0.462803,0.664357,-5.724056,0.190667,2.555477,0.148569,1

#Separate the features and class

In [ ]:
    features = df.loc[:, 'V1':'V22']
    classes = df['Class']
    X = features.values
    Y = classes.values

#Import kfold from sklearn
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html#sklearn.model_selection.KFold

In [ ]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10,shuffle=True)

#We need multivariate normal random variable
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.multivariate_normal.html

In [ ]:
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from scipy.stats import multivariate_normal

accuracy_gda = []
balanced_accuracy_gda = []

accuracy_lda = []
balanced_accuracy_lda = []

accuracy_qda = []
balanced_accuracy_qda = []

for train, test in kfold.split(X):
      #Split the dataset for traning and testing
      X_train, X_test = X[train], X[test]
      Y_train, Y_test = Y[train], Y[test]

      healthy = []
      unhealthy = []
      for k, v  in enumerate(Y_train):
        if v == 1:
          healthy.append(k)
      for k, v in enumerate(Y_train):
        if v == 2:
          unhealthy.append(k)

      prior_healthy = len(healthy)/len(Y_train)
      prior_unhealthy = 1 - prior_healthy 

      #constuct new data sent of healthy and unhealthy
      new_healthy = X_train[healthy, :]
      new_unhealthy = X_train[unhealthy, :]

      if len(new_healthy) > 0:
        mean_healthy = np.mean(new_healthy, axis=0)
      if len(new_unhealthy) > 0:
        mean_unhealthy = np.mean(new_unhealthy, axis=0)

      #covarance matrix
      sigma = np.cov(X_train, rowvar=False) # for gda
      inv_sigma = np.linalg.pinv(sigma) #for lda
      # for qda sigma calculation
      sigma_healthy = np.cov(new_healthy, rowvar=False)
      sigma_unhealthy = np.cov(new_unhealthy, rowvar=False)

      gda_predicted = []
      lda_predicted = []
      qda_predicted = []

      #GDA Calculation
      for x in X_test:
            multivariate_healthy =  multivariate_normal(mean_healthy, sigma, allow_singular=True)
            multivariate_unhealthy =  multivariate_normal(mean_unhealthy, sigma, allow_singular=True)
            PDF_healthy = multivariate_healthy.pdf(x)
            PDF_unhealthy = multivariate_unhealthy.pdf(x)
            
            if ((abs(PDF_healthy - PDF_unhealthy) < 0.001) and (PDF_healthy > 0.01)):
                gda_predicted.append(1)
            else:
                gda_predicted.append(2)

      accuracy_gda.append(accuracy_score(Y_test, gda_predicted))
      balanced_accuracy_gda.append(balanced_accuracy_score(Y_test, gda_predicted))

      #LDA Calculation          
      for x in X_test:
            #calculate dlt for both the classes
            dlt_healthy = (np.dot(np.dot(x.T, inv_sigma), mean_healthy)) - (0.5 * np.dot(np.dot(mean_healthy.T, inv_sigma), mean_healthy)) + np.log(prior_healthy)
            dlt_unhealthy = (np.dot(np.dot(x.T, inv_sigma), mean_unhealthy)) - (0.5 * np.dot(np.dot(mean_unhealthy.T, inv_sigma), mean_unhealthy)) + np.log(prior_unhealthy)

            if dlt_healthy - dlt_unhealthy > 0:
                lda_predicted.append(1)
            else:
                lda_predicted.append(2)
      accuracy_lda.append(accuracy_score(Y_test, lda_predicted))
      balanced_accuracy_lda.append(balanced_accuracy_score(Y_test, lda_predicted))

      # QDA Calculation
      for X_new in X_test:
            #calculate dlt for both the classes
            dlt_healthy = -0.5 * np.log(np.linalg.det(sigma_healthy)) - 0.5 * np.dot(np.dot((X_new - mean_healthy).T, np.linalg.pinv(sigma_healthy)), (X_new - mean_healthy)) + np.log(prior_healthy)
            dlt_unhealthy = -0.5 * np.log(np.linalg.det(sigma_unhealthy)) - 0.5 * np.dot(np.dot((X_new - mean_unhealthy).T, np.linalg.pinv(sigma_unhealthy)), (X_new - mean_unhealthy)) + np.log(prior_unhealthy)
 
            if dlt_healthy - dlt_unhealthy > 0:
                qda_predicted.append(1)
            else:
                qda_predicted.append(2)
      accuracy_qda.append(accuracy_score(Y_test, qda_predicted))
      balanced_accuracy_qda.append(balanced_accuracy_score(Y_test, qda_predicted))

In [ ]:
acc_df = pd.DataFrame()
acc_df['Cross-Validation'] = ['CV1','CV2','CV3','CV4','CV5','CV6','CV7','CV8','CV9','CV10', 'Mean']
accuracy_gda.append(np.mean(accuracy_gda))
acc_df['GDA']= accuracy_gda
accuracy_lda.append(np.mean(accuracy_lda))
acc_df['LDA'] = accuracy_lda
accuracy_qda.append(np.mean(accuracy_qda))
acc_df['QDA'] = accuracy_qda
acc_df

   Cross-Validation       GDA       LDA       QDA
0               CV1  0.850000  0.900000  0.900000
1               CV2  0.700000  0.850000  0.800000
2               CV3  0.700000  0.850000  0.850000
3               CV4  0.850000  0.950000  0.850000
4               CV5  0.900000  0.900000  0.850000
5               CV6  0.842105  0.947368  0.894737
6               CV7  0.631579  0.947368  0.947368
7               CV8  0.894737  0.894737  0.736842
8               CV9  0.473684  0.789474  0.947368
9              CV10  0.684211  0.684211  0.947368
10             Mean  0.752632  0.871316  0.872368

In [ ]:
bal_acc_df = pd.DataFrame()
bal_acc_df['CROSS-Validation'] = ['CV1','CV2','CV3','CV4','CV5','CV6','CV7','CV8','CV9','CV10', 'Mean']
balanced_accuracy_gda.append(np.mean(balanced_accuracy_gda))
bal_acc_df['GDA'] = balanced_accuracy_gda
balanced_accuracy_lda.append(np.mean(balanced_accuracy_lda))
bal_acc_df['LDA'] = balanced_accuracy_lda
balanced_accuracy_qda.append(np.mean(balanced_accuracy_qda))
bal_acc_df['QDA'] = balanced_accuracy_qda
bal_acc_df

   CROSS-Validation  GDA       LDA       QDA
0               CV1  0.5  0.803922  0.941176
1               CV2  0.5  0.750000  0.761905
2               CV3  0.5  0.797619  0.797619
3               CV4  0.5  0.833333  0.774510
4               CV5  0.5  0.722222  0.472222
5               CV6  0.5  0.833333  0.937500
6               CV7  0.5  0.928571  0.958333
7               CV8  0.5  0.500000  0.632353
8               CV9  0.5  0.800000  0.950000
9              CV10  0.5  0.500000  0.916667
10             Mean  0.5  0.746900  0.814229